<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Transferir dinero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="transferForm" (ngSubmit)="transfer()">
        <ion-list lines="full">
          <ion-radio-group formControlName="senderAccount">
            <ion-list-header color="dark">
              <ion-label>
                Cuenta de origen
              </ion-label>
            </ion-list-header>
            <ion-item *ngFor="let account of accounts">
              <ion-label>
                <h2>{{ account.alias }}</h2>
                <h3>{{ account.balance | currency }}</h3>
              </ion-label>
              <ion-radio [value]="account.number"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group formControlName="destinationAccount">
            <ion-list-header color="dark">
              <ion-label>
                Cuenta de destino
              </ion-label>
            </ion-list-header>
            <ion-item *ngFor="let account of thirdPartyAccounts">
              <ion-label>
                <h2>{{ account.alias }}</h2>
                <h3>{{ account.number }}</h3>
              </ion-label>
              <ion-radio [value]="account.number"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item>
            <ion-icon color="primary" slot="start" name="cash"></ion-icon>
            <ion-label position="floating">Monto a transferir</ion-label>
            <ion-input formControlName="amount"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-button type="submit" [disabled]="!transferForm.valid" strong size="small" shape="round"
                expand="block">
                <ion-icon slot="start" name="send"></ion-icon>
                Transferir
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>